:root,
    :root.light {
    --bg-color: #6b9ac4;
    --text-color: black;
    --text-color-alt: white;
    --btn-color: #d4f4dd;
    --btn-color-red: #ce505f;
    --container-color: #fef9ff;
    --big-container-color: #fcebff; 
    --input-color: #fef9ff;
    --border-color: black;
    }
    :root.dark {
    --bg-color: #212529;
    --text-color: white;
    --text-color-alt: black;
    --btn-color: #038929;
    --btn-color-red: #c7091f;
    --container-color: #212529;
    --big-container-color: #04335c; 
    --input-color: #212529;
    --border-color: white;
    }


::placeholder { /* Most modern browsers support this now. */
    color: var(--text-color);
 }
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0em;
    padding-top: 0.2em;
    font-size: 3em;
}

.container--2col {
    display: flex;
    columns: 2;
    margin: 0em;
    justify-content: space-evenly;
    height: 90%;
}

.container {
    margin: 0.8em;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    border-radius: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container--center {
    align-items: center;
}

#style-mode-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    border-top: 1px solid var(--border-color);
    padding: 0.2em;
    box-sizing: border-box;
    font-size: 1.5em;
    background-color: var(--btn-color);
}
aside {
    background-color: var(--big-container-color) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
}

main {
    background-color: var(--big-container-color) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 63%;
}

.aside_container {
    background-color:var(--bg-color);
    text-align: center;
    width: 90%;
    overflow: hidden;
}

.aside_input {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--border-color);
    padding: 0.2em;
    box-sizing: border-box;
    font-size: 1.5em;
    background-color: var(--input-color);
    color: var(--text-color);
}

.aside_input--small {
    width: 50%;
}

#tag_btn--del {
    border-left: 1px solid black;
    background-color: var(--btn-color-red);
}

.aside_input--btn {
    background-color: var(--btn-color);
    color: black;
}

.container_btn {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.main_totals {
    text-align: center;
    display: flex;
    width: 95%;
    margin: 0;
    padding: 0.4em;
    font-size: 1.6em;
    justify-content: space-around;
}

.total {
    display: flex;
    flex-direction: column;
}

.main_expenses {
    width: 95%;
    height: 85%;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.main_state {
    width: 95%;
    padding: 0.4em;
}

.main_summary {
    width: 95%;
    padding: 0.4em;
    margin-top: 0.4em;
    color: black;
    background-color: var(--btn-color);
}

.expense-history_title {
    padding: 0.4em;
}

#Expense_list {
    width: 100%;
    text-align: center;
}

#Expense_list tr {
    height: 2em;
    width: 100%;
}

#Expense_list tr {
    border-bottom: 1px solid var(--border-color);
}

.expense_action {
    padding: 0;
    margin: 0;
}

.btn_expense {
    border-radius: 0;
    border: 0;
    border-left: 1px solid var(--border-color);
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 1em;
}

.btn_expense--chg {
    background-color: var(--btn-color);
}

.btn_expense--del {
    background-color: var(--btn-color-red);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}



@media screen and (max-width: 900px) {
    .container--2col {
        display: flex;
        columns: 1;
        flex-direction: column;
    }
    main {
        width: 95%;
    }

    aside {
        width: 95%;
    }

    .main_totals {
        display: flex;
        flex-direction: column;
    }

    .expense_action{
        display: flex;
        flex-direction: column;
    }
    .btn_expense {
        width: 100%;
    }
  }
